<header class="border-bottom p-2">
    <div class="d-flex justify-content-between">

        <img width="300" routerLink="default" src="../../../../assets/images/drifting-desk-logo-1.png.crdownload" alt="" srcset="">
        <div class="my-auto">
        
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                  <a ngbNavLink routerLink="">Home</a>
                  <!-- <ng-template ngbNavContent>
                  </ng-template> -->
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink routerLink="test">Task</a>
                  <!-- <ng-template ngbNavContent>
                  </ng-template> -->
                </ng-container>
               
              </nav>
              
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

  
</header>
